@keyframes box-1 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
        transform: translate(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
}
}

@keyframes box-2 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }

}

@keyframes box-3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes box-4 {
    0% {
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}

    
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    justify-content: center;
    margin: 0;
}
  
.header {
    text-align: center;
    margin-bottom: 20px;
}
  
.animation-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}
  
.box {
    width: 150px;
    height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.box-1 {
    animation-name: box-1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

.box-2 {
    animation-name: box-2;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

.box-3 {
    animation-name: box-3;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

.box-4 {
    animation-name: box-4;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

